{
    "parser": "babel-eslint",
    "env":{
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "semi": "off",
        "arrow-parens":"off",
        "comma-dangle":"off"
    },
    "extends": [
        "esLint:recommended", "google"
    ]
}